<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>BACS200 - Index</title>
</head>

<body>
    <h3> Github Repo: </h3>
    <a href="https://github.com/Niko-Antuna"> My Repository </a>

    <h3> Links to all my super hero pages below: </h3>

    <a href="http://nikoantuna.pythonanywhere.com/hulk"> 1. Hulk </a>
    <p> </p>

    <a href="http://nikoantuna.pythonanywhere.com/blackwidow"> 2. Black Widow </a>
    <p> </p>

    <a href="http://nikoantuna.pythonanywhere.com/ironman"> 3. Iron Man </a>
    <p> </p>
</body>

</html>
